RACKSPACE_USERNAME=''
RACKSPACE_API_KEY=''
RACKSPACE_DB_CONTAINER=''
RACKSPACE_REGION='' # For example, 'lon' for UK

MYSQL_HOST=''
MYSQL_USERNAME=''
MYSQL_PASSWORD=''

DB_CREDS_FILE='' # Optional - defaults to the relative path of the project